{% load static %}
<div class="room-flex-container">
    {% for room in page_obj.object_list %}

            <div id="room" class="room-div">
                <div class="room-name-members">
                    <a class='room-name' href="{% url 'room' room.id%}"><h3 >{{room.name}} | {{room.topic}}</h3></a><br>

                    <div class="members-number">
                        <div class="members-number-inner">
                            
                            {% if request.user != room.host and not request.user in room.participants.all %}
                            <a class="members-number-inner-a" href="{% url 'join-room' room.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                                  </svg>
                            </a>
                            {% elif request.user != room.host and request.user in room.participants.all %} 
                                <a class="members-number-inner-a" href="{% url 'leave-room' room.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
                                      </svg>
                                </a>
                            
                            {% endif %}
                            <a class="members-number-inner-a" href="{% url 'add-message' room.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                                  </svg>
                            </a>

                            {% if room.host == request.user %}
                            <a class="members-number-inner-a" href="{% url 'edit-room' room.id %}" style="width: 25px; height: 25px">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                  </svg>
                            </a>
                            <a class="members-number-inner-a" href="{% url 'delete-room' room.id %}" style="width: 25px; height: 25px;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                  </svg>
                            </a><br>
                            {% endif %}
                        </div>

                        
                            <p class="participants-count">{{room.participants.count}}</p>
                        
                    
                    </div>
                </div>
                
                <div class="room-creator-flex">
                    {% if room.host.userprofile.picture %}
                    <a href="{% url 'user-profile' room.host.id %}">
                        <img src="{{ room.host.userprofile.picture.url }}" width="100px" height="100px" alt="">
                    </a>
                    {% else %} 
                    <a href="{% url 'user-profile' room.host.id %}">
                        <img src="{% static 'images/default.jpg' %}" width="100px" height="100px" alt="Default user image">
                    </a>
                    {% endif %}
                    <a class="room-host" href="{% url 'user-profile' room.host.id %}">@{{room.host}}</a>
                    <p style="color: white; display: inline;"> | Created: {{room.created|timesince}} ago</p><br><br>
                </div>
                
                    

                <fieldset>
                    <legend>Description</legend>
                    <p style="color: white">{{room.description}}</p>
                </fieldset>
                    
                </div>
    {% empty %} 
        <h3 class="no-rooms-found">No rooms found</h3>
    {% endfor %}
</div>


<div class="pagination">

    <div class="current">
            <!-- first and previoius-->
        {% if page_obj.has_previous %} 
            <a href="{{request.path}}?q={{q}}&page=1">&laquo; first</a>
            <!-- <a href="{% url 'home' %}?page={{page_obj.previous_page_number}}">previous</a> -->
        {% endif %}

        {% for pg in paginator.page_range %} 
            {% if forloop.counter < 8 and room_count != 0%} 
                {% if pg == page_obj.number %}
                    <a class="page-number-link current-page" style="background-color: white; color: #364783;" href="{{request.path}}?q={{q}}&?page={{pg}}">{{pg}}</a>
                {% else %} 
                    <a class="page-number-link" href="{{request.path}}?q={{q}}&page={{pg}}">{{pg}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
            <!-- Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. -->
            
            
            <!--next and last -->
        {% if page_obj.has_next %} 
            <!-- <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">next</a> -->
            <a href="{{request.path}}?q={{q}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>