{% extends 'main.html' %} 
{% load static %}
{% block content %} 

    <div class="main">
        <div class="profile-container" >
            <div class="topics-component">
                {% include 'rooms/topics_component.html' %}
            </div>
            
            <div class="feed-component">
                <div class="feed-header">
                    <h1>{{user.username|title}}'s profile page</h1>
                    <a href="{% url 'edit-user' user.id %}">
                        <div class="edit-user-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              <p>Edit User</p>
                        </div>
                    </a>
                </div>

                <div class="feed-main">
                    <div class="user-profile-room-count">
                        <p>Rooms: {{rooms.count}}</p> 
                    </div>
                    {% if user.userprofile.picture %}
                    
                        <img class="user-profile-picutre" src="{{ user.userprofile.picture.url }}" width="100px" height="100px" alt="">
                    
                    {% else %} 
                    
                        <img class="user-profile-picutre" src="{% static 'images/default.jpg' %}" width="100px" height="100px" alt="Default user image">
                    
                    {% endif %}
                    <h3 class="user-profile-name">@{{user.username}}</h3>
                    <fieldset class="user-profile-fieldset">
                        <legend class="user-profile-legend">Bio</legend>
                        {% if user.userprofile.bio %}
                            <p class="user-profile-paragraph">{{user.userprofile.bio}}</p>
                        {% else %} 
                            <p class="user-profile-paragraph" style="font-size: 40px;">...</p>
                        {% endif %}
                    </fieldset>
                </div>
                
                {% include 'rooms/feed_component.html' %}
            </div>
            
            <div class="activity-component">
                {% include 'rooms/activity_component.html' %}
            </div>
        </div>
    </div>
{% endblock %}