<h3 class="topics-header">Top Room Topics</h3>

<div class="topic-main-div">

    <a href="{% url 'home' %}" class="topic-link">
        <div class="topic-div">
            <p>All</p>
            <p class="topic-number" >{{room_all.count}}</p>
        </div>
    </a>
    
    {% for topic in topics %}
    
        <a href="{% url 'home' %}?q={{topic.name}}" name="q" class="topic-link">
            <div class="topic-div">
                <p>{{topic.name}}</p>
                <p class="topic-number">{{topic.room_set.all.count}}</p>
            </div>
        </a>
    {% endfor %}
</div>
    
